body {
	background: url("anime-anime-girls-anime-boys-Genshin-Impact-Criin-1973985.jpg");
	position: relative;
	height: 100vh;
}

body::before {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	background-size: cover;
	background-repeat: no-repeat;
	
}
.container {
	position: relative;
	z-index: 1;
	padding: 20px;
	opacity :0.9;
}

.col {
	width: 480px;
    height: 100%;
}

.inner {
	display: flex;
    align-items: start;
    height: 450px;
}

.header {
	background-color: #FFCBD8;
	margin: 20px auto;
	color: #00008B;
	font-size: 20px;
	text-align: center;
	border-style: outset;
	border-color:  #EE82EE #D8BFD8 #4B0082 #9932CC;
	border-radius: 10px;
}
.h1 {
	font-size: 34px;
	text-align: center;
	color:#C71585!important;
	text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}
.text {
	color:#000000;
	font-size: 18px;
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
}
.name {
	color: #C71585;
	font-size: 22px;
}
.link {
	color: #0000ff;
	display: block;
	margin: 10px 0;
}
.link:hover {
	color: #FF0000;
}
.feedback {
	border-style: outset;
	border-color:  #EE82EE #D8BFD8 #4B0082 #9932CC;
	text-align: center;
	margin: 20px auto; 
	background-color: #FFCBD8;
	border-radius:10px;
}
.form {
	text-align: center;
	
}
.form_input {
	background: white;
	width: 400px;
	display: block;
	margin: auto;
	margin-bottom: 10px;
	border: 1px solid;
	font-size: 14px;
	padding: 10px 4px;
}
.kill {
	font-size: 20px;
	
}
.form_button {
	width: 400px;
	background: #C71585;
	padding: 10px;
	font-size: 14px;
	border:0;
	color: white;
	border-radius: 10px;
}
.area {
	width: 390px;
	display: block;
	margin: auto;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid;
}
.select {
	width: 410px;
	display: block;	
	margin: auto;
	margin-bottom: 10px;
}
