.header {
	width: 950px;
	background-color: #FFC0CB;
	margin: 20px auto;
	color: #00008B;
	font-size: 20px;
	text-align: center;
	border-style: outset;
	border-color:  #EE82EE #D8BFD8 #4B0082 #9932CC;
	border-radius:10px;
}
.h1 {
	color:#8B008B;
	font-size: 30px;
	text-align: center;
}
.text {
	color:#000000;
	font-size: 18px;
	text-align: left;
}
.name {
	color: #C71585;
	font-size: 22px;
}
.link {
	color: #0000ff;
	display: block;
	margin: 10px 0;
}
.link:hover {
	color: #FF0000;
}
.feedback {
	width: 950px;
	border-style: outset;
	border-color:  #EE82EE #D8BFD8 #4B0082 #9932CC;
	text-align: center;
	margin: 20px auto; 
	padding-bottom: 40px;
	background-color: #FFC0CB;
}
.form {
	text-align:center;
}
.form_input {
	background: white;
	width: 400px;
	display: block;
	margin: auto;
	margin-bottom: 10px;
	border: 1px solid;
	font-size: 14px;
	padding: 10px 4px;
}
.kill {
	font-size: 20px;
}
.form_button {
	width: 400px;
	background: #C71585;
	padding: 10px;
	font-size: 14px;
	border:0;
	color: white;
}
.area {
	width: 390px;
	display: block;
	margin: auto;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid;
}
.select {
	width: 410px;
	display: block;	
	margin: auto;
	margin-bottom: 10px;
}
.img.background {
	min-height: 100%;
	min-width: 640px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
}